/* 
    Document   : pcalc
    Created on : Apr 23, 2013, 5:01:07 PM
    Author     : jasonn
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#calculator
{
    height: 200px;
    width: 500px;
    background-color: #EDB91C;
    position: absolute;
    top:100px;
    left: 100px;
}

.button
{
    
    border: 1px outset;
    
    background-color: #FACC43;
    color: darkgreen;
    float: left;
    margin : 10px;
    margin-right : 0px;
    margin-bottom: 0px;
    cursor: pointer;
    
    
    
}
#variableList
{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 200px;
    background-color: lightgray;
}

.singleCharButton
{
    position: relative;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    font-size: 22px;
    top: 1px;
}
